body {
    font-family: Arial, sans-serif;
    background: #ffc2d1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    padding-top: 40px;
    color: #850e35;
}
.design{
    width: 100px;
    height: 100px;
    position: absolute;
    opacity: 0.25;
}
.quiz-container {
    width: 550px;
    text-align: center;
    font-size: 30px;
    padding: 40px;
}

.card {
    backdrop-filter: blur(2px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

#toggle-btn, 
#next-btn {
    padding: 20px 40px;
    border: none;
    background: #ee6983;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 30px;
}

#toggle-btn:hover,
#next-btn:hover {
    background:  #a3394e;
}

#score-tally {
    font-weight: bold;
    margin-bottom: 15px;
}
